@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

/* EStilos del navbar */
.navbar {
  display: flex;
}

/* Estilos del color del subnavbar */
.navColor {
  background-color: #ff6117;
  box-shadow: -3px 8px 7px -3px rgba(137, 137, 137, 0.6);
}

/* Estilos del responsive del dropdown */
.navbar-collapse {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  flex-basis: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* Estilos del responsive cuando se cierra */
.navbar-dark .navbar-toggler {
  text-align: end;
  color: black;
  border-color: black;
}
/* Estilos de los enlaces */
a {
  color: white;
}

a:hover {
  color: rgb(230, 230, 230);
}
